<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnLogout").on("click", function () {
                $.ajax({
                    url: "/user/logout",
                    type: "post",
                    dataType: "JSON",
                    success: function (json) {
                        alert(json.msg);
                        location.href = "/";
                    }
                })
            })
        });
    </script>
</head>
<body>
<div class="container">
    <h2>로그인 성공</h2>
    <p>
        <span th:text="${session.SS_USER_EMAIL}"></span>님, 로그인되었습니다.
    </p>
    <button type="button" id="btnLogout">로그아웃</button>
    <a href="/">메인으로</a>
</div>
</body>
</html>
